 <br>
 <div class="container" ></div>
   <div class="jumbotron" id="jumbo" >
     <h1 style="color: darkcyan;"><b>B</b>loc<b>I</b>t<b>O</b>ff</h1>
     <p><b>B</b>loc<b>I</b>t<b>O</b>ff your one-stop-shop checklist</p>
     <p>
       <%= link_to "Sign In", new_user_session_path %> or
       <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
     </p>
     <br>
     <img alt="The Ultimate To Do List" src="/assets/to-do-list.png" class="pull-right" id="picture" />
   </div>
   
   <div id="firststatement" >
     <div class="col-md-8" >
       <h2>Keep track of that busy life</h2>
       <p><b>B</b>loc<b>I</b>t<b>O</b>ff will track your critical taks, from anywhere in the world.</p>
     </div>
     <br>
     <div class="col-md-8">
       <h2>Check items off when they are complete</h2>
       <p><b>B</b>loc<b>I</b>t<b>O</b>ff enables you to check off your tasks once they are complete.</p>
     </div>
   </div>
 </div>
