<div class="container" id="heading">
    <div class="row" >
        <h1 >Your To Do List</h1>
        <div class="row">
            <%=render(:partial => 'dashboard/new') %>
            <br>
            <br>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <table id="to_do_list">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Days to Completion</th>
                    <th>Mark as Complete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @items.each do |item| %>
                    <tr>
                      <td><%= item.description %></td>
                      <td><%= item.completion_date %></td>
                      <td><%= item.completed %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
