// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#heading
{
    position: relative;
    top: 120px;
    left: 150px;
    


    font-family: "Comic Sans MS", cursive, sans-serif;
}

#input
{
    position: relative;
    bottom: 65px;
    


    font-family: "Comic Sans MS", cursive, sans-serif;
}

#table_div
{
    
    position: relative;
    top: 200px;



    font-family: "Comic Sans MS", cursive, sans-serif;
    
}