<!DOCTYPE html>
<html>
<head>
  <title>Sentry Agent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 60px">

<div class="container">
<div class="row">
      <% if !flash[:notice].blank? %>
        <p class="alert alert-info"><%= notice %></p>
      <% elsif !flash[:alert].blank? %>
        <p class="alert alert-warning"><%= alert %></p>
      <% elsif !flash[:error].blank? %>
        <p class="alert alert-danger"><%= flash[:error] %></p>
      <% end %>
</div>
<div class="row">

    <!-- content start -->
    <%= yield %>
    <!-- content end -->
     
</div>
</body>
</html>
